@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
}

.container_menu
{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
}

 .logo
 {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo img
{
    width: 60px;
}

.menu
{
    display: flex;
    align-items: center;
}

.menu ul
{
    display: flex;
}

.menu ul li
{
    list-style: none;
    margin-left: 35px;
}

.menu ul li a
{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins'; 
    color: white;
    text-transform: uppercase;
}

/*#CompanyWillStars
{
    background:#f6615D;
    padding: 7px 35px;
    border-radius: 50px ;
    background: linear-gradient(to right, #fab2b2 , #f54d4d);
    box-shadow: 1px 1px 30px -12px #ef0909;
    transition: all 300ms;
}*/

/**COVER_CONTENEDOR*/

.container_cover
{
    width: 100%;
    height: 800px;
    background-image: url(/IMG/ev-gpjvRZyavZc-unsplash.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.container_cover .text
{
    max-width: 400px;
}

.container_cover .text h1
{
    font-size: 33px;
    font-weight: 450;
    font-family: 'Poppins';
    color: white;
}

.container_cover .text p
{
    font-size: 15px;
    margin-top: 40px;
    font-family: 'Poppins';
    color: white;
}

.container_cover .text input
{
    padding: 7px 27px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    font-family: 'Poppins';
    background: linear-gradient(to right, #fab2b2 , #E6E6E6);
    color: #F50057;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}

.container_cover .text input:hover
{
    box-shadow: 1px 1px 30px -6px red;
}

.container_cover .input
{
    display: flex;
    justify-content: center;
}

.container_cover .svg img
{
    width: 600px;
    animation: move-will 5s linear infinite;
}


@keyframes move-will
{
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}

